{
  "settings": {
    "import/resolver": {
      // always try to resolve types under `<root>@types` directory even it doesn't contain any
      // source code, like `@types/unist`
      "eslint-import-resolver-typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "extends": [
    "react-app",
    "prettier"
  ],
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "rules": {
        "no-undef": [
          "off"
        ],
        "react-hooks/exhaustive-deps": "error"
      }
    }
  ],
  "rules": {
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error",
          "info",
          "assert"
        ]
      }
    ],
    "no-new-func": "error", // const func = new Function()
    "prefer-template": "error",
    "no-unused-vars": "off",
    "import/no-unused-modules": "warn",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "Identifier[name='localStorage']",
        "message": "Direct usage of window.localStorage is forbidden. Use efiLocalStorage instead."
      }
    ]
  }
}