.smTabs :global(.bp3-tab-indicator-wrapper) {
  /* don't show the tab indicator */
  display: none;
}

.tabs :global(.bp3-tab-list) {
  width: 100%;
  gap: 1rem;
}

.sideBar {
  background: white;
  color: var(--bp3-dark-navbar-bg-color);
  border-right-color: #d4d6d9;
  border-right-width: 1px;
}

.sideBarDark {
  background: var(--bp3-dark-navbar-bg-color);
  color: var(--bp3-dark-navbar-color);
  border-right: none;
}
