.appBackground {
  background: radial-gradient(
    circle,
    #f5f8fa,
    #f5f8fb,
    #f5f8fb,
    #f5f8fc,
    #f5f8fc
  );
}

.appBackgroundDark {
  background: none;
  background-color: var(--bp3-dark-bg-color);
}

.mobileView {
  display: none;
}

.overlay {
  color: white;
}

@media (max-width: 550px) {
  .mobileView {
    display: block;
    text-align: center;
  }
}
