.appBackground {
  background: radial-gradient(
    circle,
    #f5f8fa,
    #f5f8fb,
    #f5f8fb,
    #f5f8fc,
    #f5f8fc
  );
}

.appBackgroundDark {
  background: radial-gradient(
    circle,
    #293742,
    #27343e,
    #24313a,
    #222e37,
    #202b33
  );
}

.mobileView {
  display: none;
}

.overlay {
  color: white;
}

@media (max-width: 550px) {
  .mobileView {
    display: block;
    text-align: center;
  }
}
