.appBackground {
  background-color: var(--bp3-bg-color);
}

.appBackgroundDark {
  background-color: var(--bp3-dark-bg-color);
}

.mobileView {
  display: none;
}

.overlay {
  color: white;
}

@media (max-width: 550px) {
  .mobileView {
    display: block;
    text-align: center;
  }
}
